
@{
}

<head>
    <link href="~/css/Cart.css" rel="stylesheet" />
    <script src="~/js/cart.js">

    </script>
</head>

<ul class="nav nabar-nav navbar-right">
    @*<i class="fa-solid fa-cart-plus"></i>*@
   <li class="nav-item">
       @*<i class="fa-solid fa-cart-plus"></i>*@
     @*  <a class="nav-link text-dark" asp-area="Cart" asp-controller="Product" asp-action="ViewProduct">Cart</a>*@
	@*	<nav class="navbar navbar-inverse bg-inverse fixed-top bg-faded">*@
			<div class="row">
				<div class="col">
					<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#cart">Cart (<span class="total-count"></span>)</button><button class="clear-cart btn btn-danger">Clear Cart</button>
				</div>
			</div>
@*		</nav>*@
   </li>
    <div class="modal fade" id="cart" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Cart</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <table class="show-cart table">
                    </table>
                    <div>Total price: $<span class="total-cart"></span></div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Order now</button>
                </div>
            </div>
        </div>
    </div>
</ul>
