@model Mind_Meld.Models.PurchRequest

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_DeptEmpLayout.cshtml";
}

<!--This is a header of our page you can copy and past it in any new view u create, Lets Goo!-->
<div class="content container-fluid">

    <div class="page-header">
        <div class="row">
            <div class="col-md-6">
                <h3 class="page-title mb-0">Manage Purchase Request</h3>
            </div>
            <div class="col-md-6">
                <ul class="breadcrumb mb-0 p-0 float-right">
                    <li class="breadcrumb-item"> <a asp-controller="Dashbroad" asp-action="DeptEmpDashboard"><i class="fas fa-home"></i> Home</a></li>
                    <li class="breadcrumb-item"> <a asp-controller="PurchRequest" asp-action="Index"><i></i> Manage Purchase Request</a></li>
                    <li class="breadcrumb-item"> <a asp-controller="PurchRequest" asp-action="Create"><i></i> Add Purchase Request</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>

<hr />
<div class="content container-fluid">
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="RequestDate" class="control-label"></label>
                <input asp-for="RequestDate" class="form-control" />
                <span asp-validation-for="RequestDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UserID" class="control-label"></label>
                <select asp-for="UserID" class ="form-control" asp-items="ViewBag.UserID"></select>
            </div>
            <div class="form-group">
                <label asp-for="PRStatus" class="control-label"></label>
                <select asp-for="PRStatus" class="form-control">
                    <option value="">Select</option>
                    <option value="Active">Active</option>
                    <option value="Cancel">Cancel</option>
                </select>
                <span asp-validation-for="PRStatus" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
                <a asp-action="Index" class="btn btn-danger">Back to List</a>
            </div>
        </form>
    </div>
</div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

    <!-- This is the footer of our page -->
    <footer class="footer">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-6">
                    2023 © MindMeld - Online Shopping
                </div>
                <div class="col-md-6">
                    <div class="text-md-right footer-links d-none d-md-block">
                        <a href="#">About</a>
                        <a href="#">Contact Us</a>
                    </div>
                </div>
            </div>
        </div>
    </footer>