@model Mind_Meld.Models.Supplier

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_PurchEmpLayout.cshtml";
}

<!--This is a header of our page you can copy and past it in any new view u create, Lets Goo!-->
<div class="content container-fluid">

    <div class="page-header">
        <div class="row">
            <div class="col-md-6">
                <h3 class="page-title mb-0">Manage Department</h3>
            </div>
            <div class="col-md-6">
                <ul class="breadcrumb mb-0 p-0 float-right">
                    <li class="breadcrumb-item"> <a asp-controller="Dashbroad" asp-action="AdminDashboard"><i class="fas fa-home"></i> Home</a></li>
                    <li class="breadcrumb-item"> <a asp-controller="Supplier" asp-action="Index"><i></i> Manage Suppliers</a></li>
                    <li class="breadcrumb-item"> <a asp-controller="Supplier" asp-action="Detials"><i></i> Manage Detials</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="content container-fluid">
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
    </dl>
    <div>
        <a class="btn btn-primary" asp-action="Edit" asp-route-id="@Model?.SuppID">Edit</a> |
        <a class="btn btn-danger" asp-action="Index">Back to List</a>
    </div>
</div>

<!-- This is the footer of our page -->
<footer class="footer">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                2023 © MindMeld - Online Shopping
            </div>
            <div class="col-md-6">
                <div class="text-md-right footer-links d-none d-md-block">
                    <a href="#">About</a>
                    <a href="#">Contact Us</a>
                </div>
            </div>
        </div>
    </div>
</footer>

